In [ ]:
from getpass import getpass
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [ ]:
DB_HOST = "localhost"
DB_PORT = 3306
DB_NAME = "ramen"

In [ ]:
DB_USER = 'root'
DB_PASS = getpass("MySQL password: ").strip()

In [ ]:
engine = create_engine(
    f"mysql+mysqlconnector://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}",
    pool_pre_ping=True,
)

with engine.connect() as conn:
    print("SELECT 1 â†’", conn.execute(text("SELECT 1")).scalar_one())

In [ ]:
ramen = pd.read_csv('ratings.csv')
ramen

In [ ]:
with engine.connect() as conn:
    pd.read_sql_query(text("create database if not exists ramen"), conn)

In [ ]:
Session = sessionmaker(bind=engine)
session = Session()

result = session.execute(text("create database if not exists ramen"),
                         {"value": 1})

with engine.connect() as conn:
    result = conn.execute(text("SHOW DATABASES LIKE 'ramen'"))
    print(result.all())

In [ ]:
ramen.to_sql(name='ramen', con=engine, if_exists='replace')

In [ ]:
with engine.connect() as conn:
    display(pd.read_sql_query(text("select * from ramen"), conn))